.weather-app {
    margin: 0 auto;
    width: 60%;
}
.weather-app button {
    margin: 30px auto 0 auto;
    display: block;
    font-size: 20px;
    color: #FFF;
    background-color: blue;
    border-radius: 5px;
    border-color: blue;
}
.single-day-forecast {
    text-align: center;
    width: 20%;
    float: left;
}
.single-day-forecast p {
    margin: 4px 0;
}
.single-day-forecast img {
    width: 40px;
    height: 40px;
}
.singleday-low-temp {
    color: gray;
}
.clear {
    clear: both;
}